<div class="title">
    <h1>Order Summary</h1>
    <div class="title-steps">
        <div class="title-item">1. Choose Your Plan</div>
        <div class="title-item">2. Personal Information</div>
        <div class="title-item">3. Payment</div>
    </div>
    <!--<ol class="title-steps">-->
        <!--<li class="title-item">1. Choose Your Plan</li>-->
        <!--<li class="title-item">2. Personal Information</li>-->
        <!--<li class="title-item">3. Payment</li>-->
    <!--</ol>-->
</div>