<h1>{{title}}</h1>
{{#if steps}}
    <div class="title-steps">
        <div class="title-item">1. Choose Your Plan</div>
        <div class="title-item">2. Personal Information</div>
        <div class="title-item">3. Payment</div>
    </div>
{{/if}}