<div class="wrapper">
  <header class="checkout-header">
      <div class="signin">
          <a href="#">Sign In</a>
      </div>
      <div>
          <a href="#" class="logo">LOGO</a>
          <div class="customer-service">
              Customer Service <strong>+44 (0) 2038087255</strong><br>
              Daily 9 AM - 7 PM
          </div>
      </div>
  </header>

  <div class="checkout-main">
      {{outlet}}
  </div>

  <footer class="checkout-footer">
      <a href="#" class="footer-link">Imprint</a>
      <a href="#" class="footer-link">Privacy Policy</a>
      <a href="#" class="footer-link">Terms & Conditions</a>
  </footer>
</div>